<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTaXo403ia7GmKNc87hUIOhSyYO-Wz_Tg</string>
	<key>GCM_SENDER_ID</key>
	<string>515172108240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.online.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecommarce-ea878</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommarce-ea878.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515172108240:ios:eeb06da95c7b45ea0c5bd5</string>
</dict>
</plist>